body {
    margin: 0;
    background-color: lightsteelblue ;
    font-family: Arial, sans-serif;
}
.header-content {
    background: rgb(58, 25, 94);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.search-bar input {
    padding: 5px;
    font-size: 16px;
}
img{

    width: 200px;
    height: 200px;
}
pre {
    
    font-family: Verdana, Geneva, Tahoma, sans-seri;
    margin-right: 20px;
    
}
.imgs{
	display: grid;
	grid-template-columns: auto auto auto;
	background:transparent;
}
.i{
 	background:transparent;
	padding: 10px;
	text-align: center;
}
.details{
	background: transparent;
}
.inf{
    background:transparent;
    padding: 10px;
    text-align: center;
}
.link img{
    width:20px;
    height:20px;
}
.link{
    display: flex;
    justify-content: center;
}
h3{
	color: black;
}
h4{
	color: red;
}
hr{
	background-color: black;
	height: 2px;
}
#up{
	color: red;
}

 
 
 

 
